@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Verdana';
    background-color: #F1F0E8;
}

#tentacles {
    width: 50px;
}


.header-text{
    font-family: 'Verdana';
    color: #96B6C5;
    font-size: 55px;

}


.header {
    display: flex;
    background-color: #EEE0C9;
    padding: 1%;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

.stats-container {
    display: flex;
    align-items: center;
    
}

.header-details{
    font-size: 50px;
    padding-left: 22px;
    margin-left: 22px;
    color: #96B6C5;
}



.subheader-details{
    font-size: 25px;
    padding-left: 22px;
    margin-left: 22px;
}

#description-container{
    

}
.stats-container:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

.stats-card {
    background-color: #EEE0C9 ;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
    background: #ADC4CE;
}

